h1 {
  color: #7478ab;
  text-align: center;
  margin-top: 30px;
}
.courses2 {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.course_cards2 {
  display: flex;
  justify-content: space-between;

  background-color: #b9d5f8;
  border-radius: 10px;
  margin: 0 10px;
  padding: 0 12px;
  color: #4a4b4b;
}

.cards_text {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 250px;
}

.cards_text h3 {
  font-size: 25px;
  margin: 0;
  margin-top: 1.5rem;
}

.cards_text button {
  padding: 0.5rem 1rem;
  background-color: #7478ab;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 12px;
  font-weight: bolder;
  cursor: pointer;
  align-items: center;
  align-self: center;
  width: 200px;
  margin-bottom: 3rem;
}

.pic {
  width: 320px;
  height: 250px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cards_text a {
  text-decoration: none;
  color: #0c725be6;
  align-self: center;
}
